<p id="notice"><%= notice %></p>

<p>
  <strong>Survey food code:</strong>
  <%= @condiment.survey_food_code %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @condiment.display_name %>
</p>

<p>
  <strong>Portion size:</strong>
  <%= @condiment.portion_size %>
</p>

<p>
  <strong>Portion code:</strong>
  <%= @condiment.portion_code %>
</p>

<p>
  <strong>Grains:</strong>
  <%= @condiment.grains %>
</p>

<p>
  <strong>Whole grains:</strong>
  <%= @condiment.whole_grains %>
</p>

<p>
  <strong>Vegetables:</strong>
  <%= @condiment.vegetables %>
</p>

<p>
  <strong>Dkgreen:</strong>
  <%= @condiment.dkgreen %>
</p>

<p>
  <strong>Orange:</strong>
  <%= @condiment.orange %>
</p>

<p>
  <strong>Starchy vegetables:</strong>
  <%= @condiment.starchy_vegetables %>
</p>

<p>
  <strong>Other vegetables:</strong>
  <%= @condiment.other_vegetables %>
</p>

<p>
  <strong>Fruits:</strong>
  <%= @condiment.fruits %>
</p>

<p>
  <strong>Milk:</strong>
  <%= @condiment.milk %>
</p>

<p>
  <strong>Meat:</strong>
  <%= @condiment.meat %>
</p>

<p>
  <strong>Soy:</strong>
  <%= @condiment.soy %>
</p>

<p>
  <strong>Drybeans peas:</strong>
  <%= @condiment.drybeans_peas %>
</p>

<p>
  <strong>Oils:</strong>
  <%= @condiment.oils %>
</p>

<p>
  <strong>Solid fats:</strong>
  <%= @condiment.solid_fats %>
</p>

<p>
  <strong>Added sugars:</strong>
  <%= @condiment.added_sugars %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @condiment.alcohol %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @condiment.calories %>
</p>

<p>
  <strong>Saturated fats:</strong>
  <%= @condiment.saturated_fats %>
</p>

<%= link_to 'Edit', edit_condiment_path(@condiment) %> |
<%= link_to 'Back', condiments_path %>
