<%- model_class = Food -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:food_code) %></th>
      <th><%= model_class.human_attribute_name(:display_name) %></th>
      <th><%= model_class.human_attribute_name(:portion_default) %></th>
      <th><%= model_class.human_attribute_name(:portion_amount) %></th>
      <th><%= model_class.human_attribute_name(:portion_display_name) %></th>
      <th><%= model_class.human_attribute_name(:factor) %></th>
      <th><%= model_class.human_attribute_name(:portion_increment) %></th>
      <th><%= model_class.human_attribute_name(:multiplier) %></th>
      <th><%= model_class.human_attribute_name(:grains) %></th>
      <th><%= model_class.human_attribute_name(:whole_grains) %></th>
      <th><%= model_class.human_attribute_name(:vegetables) %></th>
      <th><%= model_class.human_attribute_name(:orange_vegetables) %></th>
      <th><%= model_class.human_attribute_name(:drkgreen_vegetables) %></th>
      <th><%= model_class.human_attribute_name(:starchy_vegetables) %></th>
      <th><%= model_class.human_attribute_name(:other_vegetables) %></th>
      <th><%= model_class.human_attribute_name(:fruits) %></th>
      <th><%= model_class.human_attribute_name(:milk) %></th>
      <th><%= model_class.human_attribute_name(:meats) %></th>
      <th><%= model_class.human_attribute_name(:soy) %></th>
      <th><%= model_class.human_attribute_name(:drybeans_peas) %></th>
      <th><%= model_class.human_attribute_name(:oils) %></th>
      <th><%= model_class.human_attribute_name(:solid_fats) %></th>
      <th><%= model_class.human_attribute_name(:added_sugars) %></th>
      <th><%= model_class.human_attribute_name(:alcohol) %></th>
      <th><%= model_class.human_attribute_name(:calories) %></th>
      <th><%= model_class.human_attribute_name(:saturated_fats) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to food.id, food_path(food) %></td>
        <td><%= food.food_code %></td>
        <td><%= food.display_name %></td>
        <td><%= food.portion_default %></td>
        <td><%= food.portion_amount %></td>
        <td><%= food.portion_display_name %></td>
        <td><%= food.factor %></td>
        <td><%= food.portion_increment %></td>
        <td><%= food.multiplier %></td>
        <td><%= food.grains %></td>
        <td><%= food.whole_grains %></td>
        <td><%= food.vegetables %></td>
        <td><%= food.orange_vegetables %></td>
        <td><%= food.drkgreen_vegetables %></td>
        <td><%= food.starchy_vegetables %></td>
        <td><%= food.other_vegetables %></td>
        <td><%= food.fruits %></td>
        <td><%= food.milk %></td>
        <td><%= food.meats %></td>
        <td><%= food.soy %></td>
        <td><%= food.drybeans_peas %></td>
        <td><%= food.oils %></td>
        <td><%= food.solid_fats %></td>
        <td><%= food.added_sugars %></td>
        <td><%= food.alcohol %></td>
        <td><%= food.calories %></td>
        <td><%= food.saturated_fats %></td>
        <td><%=l food.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_food_path(food), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      food_path(food),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_food_path,
            :class => 'btn btn-primary' %>
